
@{
    ViewBag.Title = "Dashboard";
}
<style>
    .itemChart {
        margin-top: -133px;
        margin-left: -48px;
        display: block;
        height: 301px !important;
        width: 325px !important;
    }
</style>
<script src="~/assets/js/angular/ng-file-upload.js"></script>
<div ng-cloak ng-app="myApp" ng-controller="myCtrl">
    <div class="page-header">
        <h1 class="page-title">
            Dashboard
        </h1>
    </div>
    <div class="row row-cards">
        <div class="col-6 col-sm-4 col-lg-2">
            <div class="card">
                <div class="card-body p-3 text-center">
                    <div class="h1 m-0">{{Cards.Groups}}</div>
                    <div class=" mb-4">Groups</div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-2">
            <div class="card">
                <div class="card-body p-3 text-center">
                    <div class="h1 m-0">{{Cards.Teachers}}</div>
                    <div class=" mb-4">Teachers</div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-2">
            <div class="card">
                <div class="card-body p-3 text-center">
                    <div class="h1 m-0">{{Cards.Students}}</div>
                    <div class=" mb-4">Students</div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-2">
            <div class="card">
                <div class="card-body p-3 text-center">
                    <div class="h1 m-0">{{Cards.Subjects}}</div>
                    <div class=" mb-4">Subjects</div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-2">
            <div class="card">
                <div class="card-body p-3 text-center">
                    <div class="h1 m-0">{{Cards.Items}}</div>
                    <div class=" mb-4">Items</div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-2">
            <div class="card">
                <div class="card-body p-3 text-center">
                    <div class="h1 m-0">{{Cards.Exams}}</div>
                    <div class=" mb-4">Exams</div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="alert alert-primary">Did you want to change University Settings? <a href='javascript:void(0)'  data-toggle="modal" data-target="#universityModal" class="alert-link">here</a></div>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Adminstrator</h3>
                </div>
                <div class="table-responsive">
                    <table class="table card-table table-striped table-vcenter">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Fullname</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="admin in Admins">
                                <td>{{admin.Username}}</td>
                                <td>{{admin.Fullname}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Items</h3>
                            </div>
                            <div class="card-body">
                                <canvas id="doughnut" class="chart chart-doughnut itemChart"
                                        chart-data="data" chart-labels="labels"></canvas>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Exams</h3>
                            </div>
                            <div class="card-body">

                                <canvas id="pie" class="chart chart-pie itemChart"
                                        chart-data="dataExam" chart-labels="labelsExam" chart-options="options"></canvas>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    <div class="modal fade" id="universityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        University Settings
                    </h5>

                </div>
                <div class="modal-body">
                    <form name="universityFrm" novalidate>
                        <div class="row">
                            <div class="col-sm-6 col-md-12">
                                <div class="form-group">
                                    <label class="form-label">University</label>
                                    <input type="text" autocomplete="off" class="form-control" placeholder="University" name="name" ng-model="univ.Name" required>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-12">
                                <div class="form-group">
                                    <label>Logo</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" ngf-select ng-model="univ.Logo" name="groupTemplate" required>
                                        <label class="custom-file-label">Choose file</label>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-disabled="universityFrm.$invalid" ng-click="saveLogo(univ)">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>

<script>

    var user = JSON.parse(sessionStorage.user);
    var apiurl = '@System.Configuration.ConfigurationManager.AppSettings["apiurl"]';
    var config = {
        headers: {
            'contentType': 'application/json;charset=utf-8',
            'authorization': 'bearer ' + user.access_token
        }
    }

    var app = angular.module("myApp", ['chart.js', 'ngFileUpload']);
    app.controller('myCtrl', function ($scope, $http, Upload) {

        $scope.Cards = {};
        $scope.Items = {};
        $scope.Exams = {};
        $scope.Admins = [];


        $scope.lista = function () {

            var reqList = {
                method: 'Get',
                url: apiurl + 'Cards',
                headers: config.headers
            }

            $http(reqList).then(function (res) {
                $scope.Cards = res.data;
            }, function (err) {
                console.log(err)
            });
        }

        $scope.lista();



        $scope.univ = {};

        $scope.saveLogo = function (university) {


            Upload.upload({
                url: apiurl + 'UniversitySetting',
                data: { file: university.Logo, UniversityName: university.Name },
                headers: {
                    'Content-Type': undefined,
                    'authorization': 'bearer ' + user.access_token
                }
            }).then(function (res) {
                toastr.success(res.data, 'Success');
                $scope.univ = {};

            }, function (resp) {
                console.log('Error status: ' + resp.status);
            });


        }



        $scope.Adminlista = function () {

            var reqList = {
                method: 'Get',
                url: apiurl + 'Admins',
                headers: config.headers
            }

            $http(reqList).then(function (res) {
                $scope.Admins = res.data;
            }, function (err) {
                console.log(err)
            });
        }

        $scope.Adminlista();

        $scope.labels = ["Classified", "UnClassified"];

        $scope.ItemsPercentageLista = function () {

            var reqList = {
                method: 'Get',
                url: apiurl + 'ItemsPercentage',
                headers: config.headers
            }

            $http(reqList).then(function (res) {
                $scope.Items = res.data;
                $scope.data = [res.data.Classifed, res.data.UnClassifed];
            }, function (err) {
                console.log(err)
            });
        }

        $scope.ItemsPercentageLista();


        $scope.labelsExam = ["Mannual","Automatic"]


        $scope.ExamsPercentageLista = function () {

            var reqList = {
                method: 'Get',
                url: apiurl + 'ExamsPercentage',
                headers: config.headers
            }

            $http(reqList).then(function (res) {
                $scope.Exams = res.data;
                $scope.dataExam = [res.data.Mannual, res.data.Automatic];

            }, function (err) {
                console.log(err)
            });
        }

        $scope.ExamsPercentageLista();

    });


</script>

