
@{
    ViewBag.Title = "Dashboard";
}
<style>
    .itemChart {
        margin-top: -133px;
        margin-left: -48px;
        display: block;
        height: 301px !important;
        width: 325px !important;
    }
</style>
<div ng-cloak ng-app="myApp" ng-controller="myCtrl">
    <div class="page-header">
        <h1 class="page-title">
            Dashboard
        </h1>
    </div>
    <div class="row row-cards">
        <div class="col-6 col-sm-4 col-lg-2">
            <div class="card">
                <div class="card-body p-3 text-center">
                    <div class="h1 m-0">{{Cards.Groups}}</div>
                    <div class=" mb-4">Groups</div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-2">
            <div class="card">
                <div class="card-body p-3 text-center">
                    <div class="h1 m-0">{{Cards.Teachers}}</div>
                    <div class=" mb-4">Teachers</div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-2">
            <div class="card">
                <div class="card-body p-3 text-center">
                    <div class="h1 m-0">{{Cards.Students}}</div>
                    <div class=" mb-4">Students</div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-2">
            <div class="card">
                <div class="card-body p-3 text-center">
                    <div class="h1 m-0">{{Cards.Subjects}}</div>
                    <div class=" mb-4">Subjects</div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-2">
            <div class="card">
                <div class="card-body p-3 text-center">
                    <div class="h1 m-0">{{Cards.Items}}</div>
                    <div class=" mb-4">Items</div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-2">
            <div class="card">
                <div class="card-body p-3 text-center">
                    <div class="h1 m-0">{{Cards.Exams}}</div>
                    <div class=" mb-4">Exams</div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Adminstrator</h3>
                </div>
                <div class="table-responsive">
                    <table class="table card-table table-striped table-vcenter">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Fullname</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="admin in Admins">
                                <td>{{admin.Username}}</td>
                                <td>{{admin.Fullname}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Items</h3>
                        </div>
                        <div class="card-body">
                            <canvas id="doughnut" class="chart chart-doughnut itemChart"
                                    chart-data="data" chart-labels="labels"></canvas> 
                        </div>
                    </div>
                    
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Exams</h3>
                        </div>
                        <div class="card-body">

                            <canvas id="pie" class="chart chart-pie itemChart"
                                    chart-data="dataExam" chart-labels="labelsExam" chart-options="options"></canvas>

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    var user = JSON.parse(sessionStorage.user);
    var apiurl = '@System.Configuration.ConfigurationManager.AppSettings["apiurl"]';
    var config = {
        headers: {
            'contentType': 'application/json;charset=utf-8',
            'authorization': 'bearer ' + user.access_token
        }
    }

    var app = angular.module("myApp", ['chart.js']);
    app.controller('myCtrl', function ($scope, $http) {

        $scope.Cards = {};
        $scope.Items = {};
        $scope.Exams = {};
        $scope.Admins = [];


        $scope.lista = function () {

            var reqList = {
                method: 'Get',
                url: apiurl + 'Cards',
                headers: config.headers
            }

            $http(reqList).then(function (res) {
                $scope.Cards = res.data;
            }, function (err) {
                console.log(err)
            });
        }

        $scope.lista();


        $scope.Adminlista = function () {

            var reqList = {
                method: 'Get',
                url: apiurl + 'Admins',
                headers: config.headers
            }

            $http(reqList).then(function (res) {
                $scope.Admins = res.data;
            }, function (err) {
                console.log(err)
            });
        }

        $scope.Adminlista();

        $scope.labels = ["Classified", "UnClassified"];

        $scope.ItemsPercentageLista = function () {

            var reqList = {
                method: 'Get',
                url: apiurl + 'ItemsPercentage',
                headers: config.headers
            }

            $http(reqList).then(function (res) {
                $scope.Items = res.data;
                $scope.data = [res.data.Classifed, res.data.UnClassifed];
            }, function (err) {
                console.log(err)
            });
        }

        $scope.ItemsPercentageLista();


        $scope.labelsExam = ["Mannual","Automatic"]


        $scope.ExamsPercentageLista = function () {

            var reqList = {
                method: 'Get',
                url: apiurl + 'ExamsPercentage',
                headers: config.headers
            }

            $http(reqList).then(function (res) {
                $scope.Exams = res.data;
                $scope.dataExam = [res.data.Mannual, res.data.Automatic];

            }, function (err) {
                console.log(err)
            });
        }

        $scope.ExamsPercentageLista();

    });


</script>

