
@{
    ViewBag.Title = "Exam";
}
<div ng-app="myApp" ng-controller="myCtrl" ng-cloak>
    <div class="page-header">
        <h1 class="page-title">
            Exam
        </h1>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary btn-spacey dropdown-toggle" data-toggle="dropdown">
                            Add Exam
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href='@Url.Action("CreateExam")'><i class="dropdown-icon fe fe-edit"></i> Mannual</a>
                        </div>

                    </div>
                    <div class="lds-hourglass" style="margin-left: 35px;" ng-if="loading"></div>
                </div>
                <div class="card-body o-auto">
                  
                    <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th class="text-center">Marks</th>
                                <th class="text-center">Group</th>
                                <th class="text-center">No.Questions</th>
                                <th class="text-center"><i class="icon-settings"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ex in Exams">
                                <td>
                                    <div>{{ex.Name}}</div>
                                    <div class="small text-muted">
                                       <span ng-class="{'badge badge-success' : ex.Type == 'Mannual','badge badge-primary' : ex.Type == 'Automatic'}">{{ex.Type}}</span>
                                    </div>
                                </td>
                                <th class="text-center">{{ex.Mark}}</th>
                                <td class="text-center">
                                    {{ex.Group}}
                                </td>
                                <td class="text-center">
                                   {{ex.NoOfQuestions}}
                                </td>
                                <td class="text-center">
                                    <div class="item-action dropdown">
                                        <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                          <a href="javascript:void(0)" class="dropdown-item" ng-click="loadUpdate(sub)"><i class="dropdown-icon fe fe-edit"></i> Edit </a>
                                            <a href="javascript:void(0)" class="dropdown-item" ng-click="deleteSubject(sub)"><i class="dropdown-icon fe fe-trash"></i> Delete </a>
                                         </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <ul uib-pagination total-items="TotalRows" class="d-flex justify-content-center" items-per-page="itemsPerPage" ng-model="currentPage" boundary-links="true" num-pages="numPages" ng-change="pageChanged()"></ul>



                </div>
            </div>

        </div>
    </div>



</div>

<script>

    var user = JSON.parse(sessionStorage.user);
    var apiurl = '@System.Configuration.ConfigurationManager.AppSettings["apiurl"]';
    var config = {
        headers: {
            'contentType': 'application/json;charset=utf-8',
            'authorization': 'bearer ' + user.access_token
        }
    }

    var app = angular.module("myApp", ['ui.bootstrap']);
    app.controller('myCtrl', function ($scope, $http,$window) {
        $scope.sub = {};
        $scope.itemsPerPage = 5;
        $scope.currentPage = 1;
        $scope.TotalRows = 0;
        $scope.Exams = [];
        $scope.loading = false;

        $scope.lista = function (curr) {

            $scope.loading = true;

            var reqList = {
                method: 'Get',
                url: apiurl + 'ListExams/' + curr,
                headers: config.headers
            }

            $http(reqList).then(function (res) {
                $scope.loading = false;
                $scope.Exams = res.data.Exams;
                $scope.TotalRows = res.data.TotalRows;
                console.log(res.data)
            }, function (err) {
                console.log(err)
            });
        }

        $scope.lista(1);
        
        

        $scope.deleteSubject = function (item) {
            if (confirm('Are you sure .. ?')) {


                var req = {
                    method: 'Delete',
                    url: apiurl + "deleteSubject/" + item.Id,
                    headers: config.headers
                }

                $http(req).then(function (res) {
                    toastr.success(res.data,"DSmartQB.")
                    $scope.lista(1);
                }, function (err) {
                    console.log(err)
                });

            }
        }


        $scope.pageChanged = function () {
            $scope.lista($scope.currentPage);
        }

        $scope.saveCreate = function (group) {

            var model = {
                ID : '' ,
                Name: group.Name,
                CreatedBy: user.username
            }

            var req = {
                method: 'POST',
                url: apiurl +"AddGroup",
                headers: config.headers,
                data: model
            }

            $http(req).then(function (res) {
                if (res.data.Key == '0') {
                    toastr.error(res.data.Value, 'Error');
                } else {
                    toastr.success(res.data.Value, 'Success');
                }
                $scope.sub = {};
                $scope.lista(1);
            }, function (err) {
                console.log(err)
            });



        }

     


    });


</script>

